.topbar {
    padding: 12px 0;
    border-bottom: 1px solid #ebeef5;
}

.topbar .topbar-item {
    margin-left: 10px;
}

.topbar .classify-select {
    width: 100px;
}

.topbar .topbar-search {
    width: 200px;
}

.topbar .select-time {
    width: 215px;
}

.topbar .icon {
    font-size: 13px;
}

.topbar .el-button .icon+span {
    margin-left: 5px;
}

.panel-container {
    margin-top: 12px;
    padding: 0 24px;
}

.icon-btn {
    margin: 0 3px;
    padding: 5px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.icon-btn:hover {
    transform: scale(1.2);
}

.tag-icon {
    margin: 2px;
}

.page-wrap {
    padding: 12px 0;
}

.el-submenu .el-menu-item.is-active {
    background-color: #e8e8e8;
}